<nav class="navbar navbar-expand-md custom-navbar navbar-dark bg-dark mb-5 border-0">
        <img class="navbar-brand py-0"
          src="https://images-na.ssl-images-amazon.com/images/I/51W8FtYHXJL._AC_UL100_SR100,100_.jpg"
          id="logo_custom" alt="logo" [routerLink]="['/']">
        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
          data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon "></span>
        </button>  
      
      
      
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
          
          <ul class=" ml-auto navbar-nav navbar-list-items align-items-center">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search-cards']">Search Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/create-deck']">Create a deck</a>
            </li>
            
            <li class="nav-item" *ngIf="!_user.isLogged">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item dropdown " *ngIf="_user.isLogged">
              <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img [src]="_user.loggedUser?.profileImage" alt="" id="profilePic">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" >
                <a class="dropdown-item" [routerLink]="['/profile/'+ _user.loggedUser?._id]">My stuff</a>
                <!-- <a class="dropdown-item" [routerLink]="['/create-deck']">Create a new deck</a> -->

                <a class="dropdown-item" [routerLink]="[_user.loggedUser?.name + '/edit/' + _user.loggedUser?._id]">Edit profile</a>
      
                <div class="dropdown-divider"></div>
      
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </li>
      
          </ul>
      
        </div>
      </nav>
      