<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <h5>Cards Type</h5>

      <canvas id="types-chart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6 col-12">
      <h5>Cards Rarity</h5>
      <canvas id="rarity-chart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6 col-12">
      <h5>Cards Color</h5>
      <canvas id="colors-chart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6 col-12">
            <h5>Cards Cost</h5>
            <canvas id="costs-chart" width="400" height="400"></canvas>
          </div>
  </div>
</div>
